* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: rgba(111, 106, 247, 1);
  font-family: "Delius Unicase", sans-serif;
}

.heading {
  color: rgba(255, 255, 255, 1);
  margin: 27px 100px 0px 100px;
  height: 50px;
}

.navbar li {
  list-style-type: none;
  display: inline;
  margin-right: 70px;
  color: rgba(255, 255, 255, 1);
  font: 20px light, "Dm Sans", sans-serif;
}

.navbar ul {
  margin-top: 27px;
  margin-left: 50px;
}

.btn {
  margin: 27px 20px 20px 0px;
  border: 2px solid white;
  width: 180px;
  color: rgba(159, 159, 159, 1);
  background-color: white;
  border-radius: 20px;
  text-indent: 5px;
  font-family: sans-serif;
  line-height: 25px;
  font-weight: 100px;
}

.fa-magnifying-glass {
  margin-left: 70px;
}

.menu {
  width: 40px;
  height: 30px;
  margin: 25px;
}
.pic {
  height: 350px;
  width: 350px;
  margin: 0px 10px 50px 160px;
}

.content {
  float: right;
  width: 700px;
  height: 350px;
  margin: 0px 190px 0px 0px;
  border-radius: 12px;
  font-size: 20px;
  background: rgba(229, 216, 255, 1);
  font-family: "Dm Sans", sans-serif;
  text-indent: 20px;
  line-height: 40px;
  color: rgba(111, 115, 115, 1);
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: sticky;
  margin-top: 40px;
  margin-right: 120px;
  height: 0px;
  gap: 3px;
}

.whatsapp {
  border: 2px solid;
  width: 40px;
  border-radius: 5px;
  position: sticky;
}

.facebook {
  border: 2px solid;
  width: 40px;
  border-radius: 5px;
  position: sticky;
}

.twitter {
  border: 2px solid;
  width: 40px;
  border-radius: 5px;
  position: sticky;
}

.box1 {
  border: 2px solid rgba(146, 157, 255, 1);
  background: rgba(146, 157, 255, 1);
  border-style: hidden;
  display: inline-block;
  height: 80px;
  width: 180px;
  border-radius: 7px 7px 7px 7px;
  margin: 20px 30px 20px 150px;
  color: rgba(255, 255, 255, 1);
  text-indent: 10px;
  font: 18px "Dm Sans", sans-serif;
  line-height: 40px;
}

.box2 {
  border: 2px solid rgba(146, 157, 255, 1);
  background: rgba(115, 76, 242, 1);
  border-style: hidden;
  display: inline-block;
  height: 80px;
  width: 180px;
  border-radius: 7px 7px 7px 7px;
  margin: 20px 30px 20px 130px;
  color: rgba(255, 255, 255, 1);
  font: 18px "Dm Sans", sans-serif;
  line-height: 40px;
  text-indent: 10px;
}

.box3 {
  border: 2px solid rgba(146, 157, 255, 1);
  background: rgba(210, 136, 255, 1);
  border-style: hidden;
  display: inline-block;
  height: 80px;
  width: 180px;
  border-radius: 7px 7px 7px 7px;
  margin: 20px 30px 20px 110px;
  color: rgba(255, 255, 255, 1);
  font: 18px "Dm Sans", sans-serif;
  line-height: 40px;
  text-indent: 10px;
}

.box4 {
  border: 2px solid rgba(146, 157, 255, 1);
  background: rgba(0, 0, 0, 1);
  border-style: hidden;
  display: inline-block;
  height: 80px;
  width: 180px;
  border-radius: 7px 7px 7px 7px;
  margin: 20px 0px 20px 110px;
  color: rgba(255, 255, 255, 1);
  font: 18px "Dm Sans", sans-serif;
  line-height: 40px;
  text-indent: 10px;
}

.bot {
  width: 50px;
  margin-right: 100px;
}

.last {
  height: 500px;
  width: 75vw;
  padding: 20px;
  background: rgba(72, 62, 255, 1);
  margin: 90px 0px 50px 150px;
  border-radius: 20px;
  position: relative;
}

button {
  margin: 50px 0px 100px 100px;
  display: block;
  padding: 20px;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: Mixed solid rgba(255, 255, 255, 1);
  background: rgba(188, 224, 246, 1);
  line-height: 8px;
  font-size: medium;
  font-weight: bold;
}

.item1 {
  width: 160px;
  color: rgba(255, 255, 255, 1);
  background: rgba(72, 62, 255, 1);
  border: 2px solid white;
}

.item2 {
  width: 160px;
  color: rgba(255, 255, 255, 1);
  background: rgba(72, 62, 255, 1);
  border: 2px solid white;
}

.box {
  float: right;
  margin: 20px 30px 0px 0px;
  background-color: white;
  width: 700px;
  height: 300px;
  padding: 40px 60px 90px 50px;
  border-radius: 20px;
}

.container {
  float: right;
  margin: 20px 40px 0px 0px;
  border: 2px solid;
  height: 400px;
  width: 800px;
  background: rgba(255, 255, 255, 1);
  border-radius: 15px;
  font-family: "inter", sans-serif;
  font-size: large;
}

.container h2 {
  margin: 35px;
}

.container p {
  margin: 30px 0px 0px 60px;
}

.btnnext {
  float: right;
  margin-right: 50px;
  width: max-content;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.fa-arrow-right {
  width: 50px;
}
